*{
    margin: 0;
    padding: 0;
}

.sidebar{
    height: 100vb;
    width: 230px;
    background-color: rgb(111, 27, 27);
    display:flex;
    
}



 .sidebar a{
    display: inline-block;
    text-decoration: none; 
    color: white;
     width: 100%;
     padding: 16px;
     font-size:medium;
     margin-top: 5px;
    list-style: none;
     
     
}


.sidebar a:hover{
background-color: rgb(102, 121, 129);
}

.profile{
    position: relative;
}

.subprofile{
    display: none;
    position:absolute;
    left: 70%;
    top: 0%;
    background-color: black;
    list-style: none;
    
   
}

.subprofile a{
  padding: 5px;
  width: 100px;
    
}
.profile:hover .subprofile{
    display: block;
}

.subprofile a:hover{
  background-color: rgb(29, 50, 50);
}


